{% extends "blog/base.html" %}

{% block content %}


<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            {% if object.author == user %}
            <span class="d-flex justify-end">
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            </span>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
        <div>
            <form action="{% url 'like_post' post.pk %}" method="POST">
              {% csrf_token %}
              {% if request.user.is_authenticated %}
              <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">Like</button>
              {% else %}
              <a href="{% url 'login' %}" class="btn btn-primary btn-sm">Like</a>
              {% endif %}
              <span> {{ post.likes.count }} like(s)</span>
          </form>
          </div> 
    </div>
</article>

{% endblock %}