{% extends "blog/base.html" %}

{% block content %}


<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            <td>
                <div class="dropout">
                    <button class="more">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <ul class="option">
                        {% if post.author == user %}
                        <div style="border-bottom: 1px solid #727171;">
                            <a href="{% url 'post-update' post.id %}">Update Post</a>
                        </div>
                        <div style="border-bottom: 1px solid #727171;">
                            <a href="{% url 'post-delete' post.id %}">Delete Post</a>
                        </div>
                        {% endif %}
                        
                    </ul>
                </div>
            </td>
        </div>
        <h2 class="article-title">{{ post.title }}</h2>
        <p class="article-content">{{ post.content }}</p>
        <div>
            <div style="float: left;padding-right: 20px;">
            <form action="{% url 'like_post' post.pk %}" method="POST">
              {% csrf_token %}
              {% if request.user.is_authenticated %}
              <button type="submit" name="post_id" value="{{ post.id }}" class="like-button"><img height="35px" width="40px" src="/media/like/like.png"></button>
              {% else %}
              <a href="{% url 'login' %}" class="like-button"><img height="35px" width="40px" src="/media/like/like.png"></a>
              {% endif %}
              <span> {{ post.likes.count }} like(s)</span>
            </form>
          </div>
            <div style="float: left;">
              <a class="article-title" href="{% url 'post-detail' post.id %}"><img height="32px" width="37px" style="margin-right: 10px;" src="/media/comment.png">Comment</a>
            </div>
          </div>
    </div>
</article>
<form id="usrform" method="POST">
    {% csrf_token %}
    <textarea class="comment-form" name="comment" id="comment" form="usrform" placeholder="Leave a comment..."></textarea>
    <button class="btn btn-info my-1" type="submit">Comment</button>
  </form>
  

<h4>Comments</h4>
{% for comment in comments %}
<article class="media comment-section">
    
    <img class="rounded-circle article-img" src="{{ comment.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' comment.author.username %}">{{ comment.author }}</a>
            <small class="text-muted">{{ comment.created_on|date:"F d, Y" }}</small>
        </div>
        <p class="article-content">{{comment.body}}</p>
        
    </div>
   
</article>
{% endfor %}
<script>
    // Script for post drop down
    document.querySelector('.dropout').onclick = ({
        target
    }) => {
        if (!target.classList.contains('more')) return
        document.querySelectorAll('.dropout.active').forEach(
            (d) => d !== target.parentElement && d.classList.remove('active')
        )
        target.parentElement.classList.toggle('active')
    }
</script>
{% endblock %}