{% extends "blog/base.html" %}

{% block content %}


<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            <td>
                <div class="dropout">
                    <button class="more">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <ul class="option">
                        {% if object.author == user %}
                        <div style="border-bottom: 1px solid #727171;">
                            <a href="{% url 'post-update' object.id %}">Update Post</a>
                        </div>
                        <div style="border-bottom: 1px solid #727171;">
                            <a href="{% url 'post-delete' object.id %}">Delete Post</a>
                        </div>
                        {% endif %}
                        <div>
                            Bookmark
                        </div>
                    </ul>
                </div>
            </td>
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
        <div>
            <form action="{% url 'like_post' post.pk %}" method="POST">
                {% csrf_token %}
                {% if request.user.is_authenticated %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">Like</button>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary btn-sm">Like</a>
                {% endif %}
                <span> {{ post.likes.count }} like(s)</span>
            </form>
        </div>
    </div>
</article>
<script>
    // Script for post drop down
    document.querySelector('.dropout').onclick = ({
        target
    }) => {
        if (!target.classList.contains('more')) return
        document.querySelectorAll('.dropout.active').forEach(
            (d) => d !== target.parentElement && d.classList.remove('active')
        )
        target.parentElement.classList.toggle('active')
    }
</script>
{% endblock %}